body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 10px; /* Aumentar el margen superior */
    margin-bottom: 40px; /* Margen inferior */
    text-align: center; /* Centrar horizontalmente */
    font-size: 56px; /* Tamaño de fuente más grande */
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    font-size: 30px; /* Tamaño de fuente más grande para el menú */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #007bff;
}