body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #007bff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 200px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product p {
    margin-top: 10px;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.quantity button:hover {
    background-color: #0056b3;
}

.quantity .quantity-value {
    margin: 0 10px;
}
/* Estilos ya existentes para la barra lateral y el contenido principal */

.product {
    width: 200px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #0e2192;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product p {
    margin-top: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity input {
    width: 40px;
    text-align: center;
}

.quantity button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.quantity button:hover {
    background-color: #0056b3;
}

.add-to-cart {
    margin-top: 10px; /* Agregar espacio entre la cantidad y el botón */
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #0056b3;
}